---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import moment from "moment";
import { NavArrowRight } from "iconoir-react";

const posts = await getCollection("blog");
---

<Layout title="About">
  <main class="flex flex-col">
    <div class="flex flex-col justify-center items-center p-8 mt-16">
      <div
        class="flex flex-col justify-center items-center gap-4 md:gap-6 w-full md:w-8/12 lg:w-6/12"
      >
        <h1
          class="text-3xl md:text-4xl font-semibold text-gray-950 dark:text-white"
        >
          Blog
        </h1>
        <p class="text-gray-500 dark:text-gray-400 text-center">
          I am prone to forget something, so I mostly note down what I heard,
          read, and watched for future reference. Used to bank it in local
          Obsidian vault, now I'm trying to write it down here with more proper
          structure.
        </p>
      </div>
      <div
        class="w-10/12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-stretch gap-4 md:gap-8 mt-8 md:mt-16"
      >
        {
          posts.map((post) => {
            const data = post.data;

            return (
              <div class="flex flex-col h-full">
                <img
                  src={data.thumbnailUrl}
                  alt={data.title}
                  class="w-full h-64 rounded-t-lg"
                />
                <div class="flex flex-col flex-grow p-4 border-[1.5px] border-gray-200 border-t-0 dark:border-none bg-white dark:bg-gray-900 rounded-b-lg">
                  <div class="flex flex-col flex-grow">
                    <div class="flex flex-row justify-between items-center">
                      <div class="flex flex-row gap-2">
                        <p class="text-sm text-gray-500 dark:text-gray-400">
                          {moment(post.data.publishedDate).format(
                            "DD MMM yyyy"
                          )}
                        </p>
                        <p class="text-sm text-gray-500 dark:text-gray-400">
                          •
                        </p>
                        <a
                          href={`/blog?category=${post.data.category.slug}`}
                          class="text-sm text-gray-500 dark:text-gray-400"
                        >
                          {post.data.category.title}
                        </a>
                      </div>
                      <div class="flex flex-row gap-1">
                        {post.data.keywords.map((item: string) => (
                          <span class="text-sm text-gray-500 dark:text-gray-400">
                            #{item}
                          </span>
                        ))}
                      </div>
                    </div>
                    <h1 class="text-xl font-bold text-gray-950 dark:text-white line-clamp-1 overflow-ellipsis mt-3">
                      {post.data.title}
                    </h1>
                    <p class="text-sm text-gray-500 dark:text-gray-400 line-clamp-2 overflow-ellipsis mt-1">
                      {post.data.desc}
                    </p>
                  </div>
                  <a
                    href={`/blog/${post.slug}`}
                    class="w-fit flex flex-row items-center gap-1 text-sm font-semibold text-gray-950 dark:text-white hover:underline mt-6"
                  >
                    Read More
                    <NavArrowRight className="size-4 stroke-2 text-gray-950 dark:text-white" />
                  </a>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </main>
</Layout>
