---
import { cn } from "@/lib/utils";

const { post } = Astro.props;

const levelColors: {
  difficulty: string;
  color: string;
  bgColor: string;
}[] = [
  {
    difficulty: "Easy",
    color: "text-emerald-600",
    bgColor: "bg-emerald-600/15",
  },
  {
    difficulty: "Medium",
    color: "text-yellow-600",
    bgColor: "bg-yellow-600/15",
  },
  { difficulty: "Hard", color: "text-red-600", bgColor: "bg-red-600/15" },
];
---

<a href={`/leet/${post.slug}`} class="block">
  <span
    class="w-full flex flex-col px-4 py-6 rounded-lg border-b-[1.5px] border-gray-200 dark:border-gray-800"
  >
    <span class="flex flex-row w-full items-start gap-4">
      <h1
        class="flex-grow text-2xl font-semibold text-gray-950 dark:text-white line-clamp-1 lg:line-clamp-2 overflow-ellipsis"
      >
        {post.data.title}
      </h1>
      <span
        class={cn(
          "px-3 py-1 rounded-lg text-sm font-semibold",
          levelColors.find((e) => e.difficulty === post.data.difficulty.title)
            ?.color ?? "text-gray-600",
          levelColors.find((e) => e.difficulty === post.data.difficulty.title)
            ?.bgColor ?? "bg-gray-600/15"
        )}
      >
        {post.data.difficulty.title}
      </span>
    </span>
    <p
      class="text-gray-500 dark:text-gray-400 mt-2 line-clamp-2 overflow-ellipsis"
    >
      {post.data.desc}
    </p>
    <span class="flex flex-row gap-2 mt-4">
      {
        post.data.tags.map((tag: string) => (
          <p class="px-3 py-1 rounded-full bg-gray-950 dark:bg-white text-sm font-medium text-white dark:text-gray-950">
            #{tag}
          </p>
        ))
      }
    </span>
  </span>
</a>
