---
import { Button } from "@/components/ui/button";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import moment from "moment";

const post: CollectionEntry<"blog">[] = await getCollection("blog");
---

<div
  id="blog"
  class="flex flex-col items-start gap-8 md:gap-12 w-full lg:w-10/12 h-fit p-8 mb-16"
>
  <div class="w-full flex flex-row justify-between items-center">
    <h1
      class="text-2xl md:text-3xl font-semibold text-gray-950 dark:text-white"
    >
      Blog
    </h1>
    <Button
      variant="outline"
      className="h-fit p-0 text-sm text-gray-950 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-800"
    >
      <a href="/blog" class="w-full h-full px-4 py-2">More Articles</a>
    </Button>
  </div>
  <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-4">
    {
      post.map((item) => (
        <div class="flex flex-row items-start p-4 gap-4 rounded-md border border-gray-200 dark:border-gray-800 cursor-pointer hover:shadow dark:hover:bg-gray-900 transition-all">
          <img
            src={item.data.thumbnailUrl}
            alt={item.data.title}
            class="w-32 h-full bg-gray-100 rounded-md"
          />
          <div class="flex flex-col items-start">
            <h1 class="text-xl font-bold text-gray-950 dark:text-white line-clamp-1 overflow-ellipsis">
              {item.data.title}
            </h1>
            <p class="text-gray-500 dark:text-gray-400 line-clamp-2 overflow-ellipsis mt-[2px]">
              {item.data.desc}
            </p>
            <div class="flex flex-row gap-4 mt-4">
              <p class="text-sm text-gray-400 dark:text-gray-500">
                {moment(item.data.publishedDate).format("DD MMM yyyy")}
              </p>
              <a
                href={`/blog?category=${item.data.category.slug}`}
                class="text-sm font-semibold text-gray-950 dark:text-white"
              >
                {item.data.category.title}
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
