---
import { Menu } from "lucide-react";
import { Button } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import ThemeSwitcher from "./ThemeSwitcher";
const baseUrl = import.meta.env.BASE_URL;

type NavbarMenuItem = {
  title: string;
  route: string;
};

const menus: Array<NavbarMenuItem> = [
  { title: "About", route: `${baseUrl}/about` },
  { title: "Works", route: `${baseUrl}/works` },
  { title: "Leet", route: `${baseUrl}/leet` },
  { title: "Blog", route: `${baseUrl}/blog` },
];
const activePath = Astro.url.pathname;
---

<nav
  class="fixed flex flex-col md:flex-row md:items-center w-full px-8 py-4 bg-white dark:bg-gray-950 border-b md:border-none border-gray-200 dark:border-gray-800 md:border-transparent z-20"
>
  <span>
    <a href={baseUrl} class="text-3xl font-bold text-gray-950 dark:text-white"
      >h.</a
    >
  </span>
  <div
    id="toggleable-menu"
    class="hidden md:flex flex-col md:flex-row justify-between items-center flex-grow mt-6 md:mt-0"
  >
    <ul class="flex flex-col md:flex-row mx-auto gap-4 md:gap-8">
      {
        menus.map((item) => (
          <a
            href={item.route}
            class={cn(
              "transition-colors duration-200 ease-in-out",
              activePath === item.route
                ? "text-gray-950 dark:text-white"
                : "text-gray-400 dark:text-gray-500 hover:text-gray-950 dark:hover:text-white"
            )}
          >
            {item.title}
          </a>
        ))
      }
    </ul>
    <ThemeSwitcher client:load className="mt-6 md:mt-0" />
  </div>

  <Button
    id="toggle-menu-btn"
    variant="outline"
    size="icon"
    className="md:hidden absolute right-8"
  >
    <Menu className="text-gray-950 dark:text-white" />
  </Button>
  <script is:inline>
    const toggleMenuBtn = document.getElementById("toggle-menu-btn");

    toggleMenuBtn.addEventListener("click", () => {
      document.getElementById("toggleable-menu").classList.toggle("hidden");
    });
  </script>
</nav>
